/* application mode */

/* https://stackoverflow.com/a/10639419 */
html { min-height: 100%; position: relative; }
body { height: 100%; margin: 0; }
#application {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.alarms { background-color: #FBB; }

/* connection config view */
#connection-view { margin: 1em; }

#connection-config .setting { margin-bottom: 1em; }
#connection-config label { display: block; }
#connection-config input { display: block; }

/* header */
header {
  margin-bottom: 0.5em;
  border-bottom: solid #eee 1px;
  display: flex;
}
#logout { margin-right: 1em; }
.connection-status { margin: 0.5em; width: 17em; }
.alarm-status { margin: 0.5em; }
.alarm-status label { color: #888; font-size: 80%; }

/* navigation */
nav ul { list-style-type: none; display: flex; }
nav li {
  padding-left: 1em;
  padding-right: 1em;
}
nav li.selected { background-color: #bbf; }
nav .icon { display: inline-block; margin-left: 0.5em;}
nav .icon-warning { color: yellow; }
nav .icon-fire { color: red; }

/* audio rules */
.rules { xborder: solid #aaa 1px; border-collapse: collapse;}
.rules tr { border: solid #aaa 1px; }
.rules td, .rules th {
  border-left: dashed #eee 1px;
  border-right: dashed #eee 1px;
  padding-left: 1em;
  padding-right: 1em;
}
.rules td.delete, .rules th.delete {
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.rules ul { margin: 0; padding: 0; text-align: left; list-style-type: none;}
.rules .hint, .rules .hint th  { border: none; }

.timeout { width: 4em; }
.active { background-color: #BFB; }
.violation { background-color: #FFB; }
.missing { color: #888; background-color: #F2F2F2; }
.audio-status { display: flex; align-items: center; }
.audio-status .operator { width: 2em; margin-left: 0.5em; margin-right: 1em; }

/* video (and audio?) source select */
h2 + .heading-note { margin-top: -1em; font-style: italic;}
.source-list { border: solid #aaa 1px; border-collapse: collapse;}
.source-list td, .source-list th {
  border-top: solid #aaa 1px;
  border-bottom: solid #aaa 1px;
  border-left: dashed #eee 1px;
  border-right: dashed #eee 1px;
  padding-left: 1em;
  padding-right: 1em;
}
.source-list .icon-column {
  border-left: none;
  border-right: none;
  padding: 0.2em;
}
.source-list .icon-column + td {
  border-left: none;
  padding-left: 0.2em;
}
.hidden { opacity: 0.5; }
#select-video tr.source:hover {
  background-color: #eef;
}

/* audio status select */
.audio-mode { width: 10em; height: 2em; }
.current-mode { background-color: #bbf; }

/* frame rules */
.config-frame-sample-window input { width: 5em; }
.config-frame-alarm-level input { width: 5em; }
.chart { width: 40em; }

/* general icons */
svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.audio.muted { color: red; }
.icon-github { color: black; }
.icon-twitter { color: #55acee; }
.icon-twitch { color: #6441A4; }
